---
layout: default
---

<article class="post-layout">
  <header class="post-header">
    <a class="back-link" href="{{ '/blog/' | relative_url }}">Blog</a>
    <h1>{{ page.title }}</h1>
    <p class="post-meta">
      <span>By {{ page.author | default: site.title }}</span>
      <span>{{ page.date | date: "%d %B %Y" }}</span>
      <span>{{ page.category }}</span>
    </p>
  </header>

  <div class="post-content">
    {{ content }}

    <div class="post-contact-note">
      <p>If you have any questions please email me at <a href="mailto:dominic.eames@linkedit.au">dominic.eames@linkedit.au</a>.</p>
    </div>
  </div>
</article>
